
#menu ul{
  font:14px Arial;
  display: inline-table;
  position: relative;
}
#menu{
  margin: 0px;
  padding: 0px;
  height: 0px;
  width: 948px;
}
#menu ul{
  margin: 0px;
  padding: 0px;
}

#menu ul ul{       /* всі вкладені списки ul не будуть відображені*/
  display: none;
  position: absolute;
  top: 100%;
  left: 0%;
}

#menu li{             
  float: left;            /* позиціонуємо меню горизонтально */
  list-style: none;
  width: 49.8mm;             /*всі лі мають фіксовану ширину*/
  text-align: center;
}

#menu ul li:hover > ul {   /* при наведенні на елемент лі випадає юл */
  display: block;
}

#menu li a{
  text-decoration: none;  /* знімає андерлайн і робить посилання блоком*/
  display: block;
  color: #fff;          /*білі посилання*/
  background: #575757; /*колір фону блока лі а отже і посилання */
  padding: 10px;
  border-bottom: 2px solid #626262;
}
#menu li a:hover{
  color: #575757;
  background: #c0c0c0;
}
